@model IEnumerable<BTECanada.Models.BuilderResourcesCategory>

<link rel="stylesheet" href="~/css/accordion.css" asp-append-version="true" />

<style>

    .section {
        border-top: 1px solid black;
        margin-bottom: 30px;
    }

    h2 {
        padding: 8px;
    }

    h3, p {
        padding: 0px 4px;
    }

</style>

<div class="container-lg">
    
    <h1 class="my-4">Builder Resources</h1>

    @if(Model != null) 
    {
        @foreach(var category in Model) {

            <div class="section">
                <h2>@Html.DisplayFor(modelItem => category.Name)</h2>
                <ul class="accordion">
                    
                    @if(category.BuilderResources != null) {
                        @foreach (var item in category.BuilderResources!)
                        {
                            <li>
                                <input type="checkbox" checked>
                                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                                <div class="accordion-content">
                                    @Html.Raw(item.Content)
                                </div>
                            </li>
                        }
                    }

                </ul>
            </div>

        }
    }

    @if(Model == null) {
        <h2>BAD</h2>
    }

</div>