@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">

    <div class="logo">
        <img src="~/images/logo.png" alt="Build The Earth Canada Logo" />
        BTE Canada
    </div>

    <div class="cta">
        <div class="cta-text">
            The official build team for the country of Canada.
        </div>

        <div>
            <a class="cta-button" asp-area="" asp-controller="Home" asp-action="Join">Join The Server</a>
            <br/>
            <a href="https://discord.gg/hSf8PXN" target="_blank" class="cta-button">Join The Discord</a>
        </div>
    </div>
</div>